@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgb(50, 50, 50);
}

*,
*::before,
::after {
  border-color: #E2E8F0;
  word-wrap: break-word;
}

.outside {
  padding: 2rem;
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
}


header {
  position: sticky;
  top: 0;
  z-index: 10;
}

nav {
  position: fixed;
  width: 100%;
  background: #ffffff40;
  z-index: 1;

}

.creatorname {
  /* align-items: center;
  flex-grow: 1; */
  display: flex;
  align-items: center;
  margin-right: 1.2rem;
  /* color: #90EE90; */
}

.creatorname a {
  color: #90EE90;
}

/* Compare with tabs */
.nav_menu-bar {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
  justify-content: center;


}

.nav_menu-bar.cross{
  row-gap: 0px;
}

/* hamburger icon */
.nav_menu-bar span {
  width: 1.5rem;
  height: 0.125rem;
  background-color: black;
  border-radius: 0.125rem;
  opacity:100;
}

span.cross{
  --transform-rotate: 45deg;
  rotate: 45deg;
  --transform-translate-y: 0.25rem;
  transform: translateY(.25rem)
}

span.cross1 {
  --transform-rotate: -45deg;
  rotate: -45deg;
  --transform-translate-y: 0.25rem;
  transform: translateY(-0.25rem)
}

span.invisible{
  opacity: 0;
}



.nav_menu-list {

  display: flex;
  flex-direction: column;
  position: fixed;

  /* width: 288px; */
  row-gap: 24px;
  background-color: white;

  transition: all 0.3s;

  border-radius: .5rem;
  --tw-backdrop-blur: blur(20px);
  backdrop-filter: blur(50px);
  transform: translate(-50%, -50%);

  top: 50%;
  left: 50%;
  padding: 6rem;




}



.nav_link {
  /* font-size: 18px; */
  position: relative;
  transition: all 0.2s;
}

.nav_link:hover {
  font-weight: bold;
}

.center {
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.close-button{
  cursor: pointer;
  border:none;
  outline: none;
  background: none;
  font-size: 2.25rem;
  font-weight: bold;
  position: absolute;
    right: 2rem;
    top: 1rem;

}


#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}


@media screen and (max-width:768px) {
  .end {
    display: none;
  }

  .creatorname {
    display: none;
  }

  nav {
    filter: none;
    background-color: transparent;
  }

        .nav_menu-list.active {
          display: none;
        }
    #overlay.active {
      opacity: 1;
      pointer-events: all;
    }

    .nav_menu-list{
        min-width: 70vw;
        text-align: center;
    }






}

@media screen and (min-width:768px) {
  .nav_menu-bar {
    display: none;
  }

  .nav_menu-list {
    position: unset;
    flex-direction: row;
    min-height: fit-content;
    width: fit-content;
    align-items: center;
    column-gap: 14px;
    flex-grow: 1;
    align-items: center;
    font-size: medium;
    background-color: transparent;
    --tw-backdrop-blur: none;
    backdrop-filter: none;
    padding: 1rem 0rem;
    top: 60px;
    right: -288px;
    transform: none;
    color: black;

  }

  .nav_link::before {
    content: '';
    position: absolute;
    width: 0%;
    bottom: -16px;
    left: 0px;
    height: 6px;
    transition: all 0.2s;
    background-color: black;
  }

  .nav_link:hover::before {
    width: 100%;

  }

  .close-button {
    display: none;
  }




}


.end {
  /* flex: 1; */
  /* display: inline; */
  margin-right: 0.5rem;

}

.githubLogo {
  display: inline-block;
  opacity: 1;
  transform: none;
}

nav1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}



.nav_section {
  width: 100%;
  margin-inline-start: auto;
  margin-inline-end: auto;
  max-width: 1200px;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.tabs {
  flex-grow: 1;
  align-items: center;

  font-size: medium;
}

.nav_link {
  cursor: pointer;
  outline: 2px solid transparent;
  outline-offset: 2px;
  color: inherit;
  padding: 0.5rem;
  gap: 4px;
  font-size: large;

}

.righty {
  flex: 1;

}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1rem 0rem;
  font-weight: bold;
}

h6 {
  font-size: 1rem;
}

p,
li {
  line-height: 1.5rem;
  font-family: "Roboto Slab", serif;
  padding: 1rem 0rem;
  font-size: 1.1rem;
}

ol,
ul {
  padding-left: 1.5rem;
}

a {
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  body {
    margin: 0% 0%;
  }

  nav {
    padding: 3rem 0rem;
  }
}
